@use "../abstracts/colors" as color;

label {
	color: color.$info;
	padding-left: 6px;
	padding-bottom: 4px;
}

.form-control,
.form-select {
	border: 1px solid color.$lightAccent;
	&:focus {
		border: 1px solid color.$primaryAccent;
		box-shadow: none;
	}
}

.form-control:read-only {
	border: 1px solid #dfe3fa45;
	color: rgba(0, 0, 0, 0.5);
}

.readonly {
	opacity: 0.5;
}

.filter-checkbox {
	&:hover {
		cursor: pointer;
	}
	> * {
		pointer-events: none;
	}
}

input[type="number"] {
	-moz-appearance: textfield;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(0, 0, 0, 0.4) !important;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(0, 0, 0, 0.4) !important;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgba(0, 0, 0, 0.4) !important;
}

input:focus-visible {
	outline: none;
	border: none;
}

// See bootstrap.scss for dark mode form styling
