$primary: #7c5dfa;
$primaryAccent: #9277ff;
$secondary: #1e2139;
$info: #7e88c3;
$dark: #141625;
$darkAccent: #1e2139;
$light: #f8f8fb;
$lightAccent: #dfe3fa;
$danger: #ec5757;
$white: #fff;
$success: #56dd92;
