html * {
	transition: all 250ms ease-in-out;
}
:root,
html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding-top: 30px;
	border: 3px solid red;
}

.myNavBar {
	padding-block: 30px;
}

@media (min-width: 768px) {
	#root {
		display: grid;
		grid-template-areas: "sidebar main";
		grid-template-columns: 100px auto;
	}
	main {
		padding-top: 60px;
	}
	.myNavBar {
		padding-block: 0px;
	}
}
