html * {
	transition: all 250ms ease-in-out;
}
:root,
html,
body,
#root {
	height: 100%;
}

.layout-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1;
	padding-top: 30px;
}

@media (min-width: 768px) {
	.layout-wrapper {
		display: grid;
		grid-template-areas: "sidebar main";
		grid-template-columns: 100px auto;
	}
	main {
		padding-top: 60px;
		height: 100vh;
		overflow: scroll;
	}
}
