@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
	font-family: "League Spartan", sans-serif;
	font-size: 13px;
}
// a {
// 	transition: all 300ms ease-in-out;
// }

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 15px;
	font-weight: 700;
}

// // change font sizes for smaller screens
// @media (max-width: 992px) {
// 	h1 {
// 		font-size: 34px;
// 		// line-height: 48px;
// 	}
// 	h2 {
// 		font-size: 28px;
// 		line-height: 36px;
// 	}
// 	h3 {
// 		font-size: 18px;
// 		line-height: 24px;
// 	}
// }
